<div class="row justify-content-center">
  <div class="col-sm-11">
    <header class="title">
  <div class = "col-title">
    <h3 class="text-center"> <strong>Información del formulario del auditor</strong></h3>
  </div>
</header>
  <table class="table table-striped">
      <thead>
        <tr>
          <th style="text-align:center;">Cedula</th>
          <th style="text-align:center;">Nombre</th>
          <th style="text-align:center;">Apellidos</th>
          <th style="text-align:center;">Correo</th>
          <th style="text-align:center;">Telefono</th>
          <th colspan="2" style="text-align:center;">Operaciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each auditors}}
        <tr>
          <td style="text-align:center;">{{this.cedulas}}</td>
          <td style="text-align:center;">{{this.nombres}}</td>
          <td style="text-align:center;">{{this.apellidos}}</td>
          <td style="text-align:center;">{{this.correos}}</td>
          <td style="text-align:center;">{{this.telefonos}}</td>
          <td style="text-align:center;"><a href="/modificar/{{this._id}}">Modificar</a></td>
           <td style="text-align:center;"><a href="/eliminar/{{this._id}}">Eliminar</a></td>
           {{!-- <td style="text-align:center;"><a href="/tabla/graficar/">Graficar</a></td> --}}
        </tr>
        {{/each}}
      </tbody>
  </table>
  </div>
</div>
<br>