<!-- cuestionario 1 -->
<head>
    <meta charset="UTF-8">
<title>Formulrio de Encuesta</title>
    <meta name = "viewport" content = "width=device-width, user-scalable=no, initial-scalable=1.8, maximum-scale=1.8, minimum-scale=1.8">
   {{!-- <link rel="stylesheet" href="/stylesheets/estilosC1.css"> --}}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'>
</head>
<body>
    <div class = "contenedor">
        <header class="title">
            <div class = "col-title">
                    
                <h3 class="text-center"> <strong>Cuestionario de control de auditoria de sistemas C3</strong></h3>
            </div>
         </header>
        <form action="/c3"  method="post" accept-charset="utf-8">
            <div class = "form-group">
                 <input type="hidden" name="_id" value="{{formularioc3s._id}}"/>
                <label for="inputempresa"><strong>Nombre de la empresa:</strong></label>
                <input type="text" class="form-control" id="clientes" name="clientes" placeholder="Nombre de la empresa" value="{{formularioc3s.clientes}}">   
                <br>
                <label for="dominio"><strong>Dominio:</strong></label>
                <span>Entrega de Servicios y Soportes</span>
                 <br>
                 
                <label for="dominio"><strong>Proceso:</strong></label>
                <span>Administración de Instalaciones</span>
                <br>
                
                <label for="dominio"><strong>Objetivo de control:</strong></label>
                <span>Instalaciones, adecuaciones y seguridad</span>
            
            {{!-- <div class= "intro-first">  
                <p> Hola,</p>
                <p>Por favor, invierta unos pocos minutos de su tiempo para rellenar el siguiente couestionario</p>
            </div> --}}
            
            <div class = "title-part">
               <strong>¿Las Instalaciones (aulas, cubículos y oficinas) fueron diseñadas o adaptadas específicamente para funcionar como un centro de cómputo?</strong>
               <div class = "radio">
                   <label >
                       <input  type="radio"  name="pregunta1s" id="pregunta1s" value="1" 
                       {{#if_eq formularioc3s.pregunta1s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                  
                   <br>
                   <label >
                       <input type="radio" name="pregunta1s" id="pregunta1s" value="2" 
                       {{#if_eq formularioc3s.pregunta1s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta1s" id="pregunta1s" value="3" 
                       {{#if_eq formularioc3s.pregunta1s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>

            </div>
            
             <div class = "title-part">
               <strong>¿Se tiene una distribución del espacio adecuada, de forma tal que facilite el trabajo y no existan distracciones?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta2s" id="pregunta2s" value="1"
                       {{#if_eq formularioc3s.pregunta2s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta2s" id="pregunta2s" value="2"
                       {{#if_eq formularioc3s.pregunta2s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta2s" id="pregunta2s" value="3"
                       {{#if_eq formularioc3s.pregunta2s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>

            </div>

              <div class = "title-part">
               <strong>¿Existe suficiente espacio dentro de las instalaciones de forma que permita una cirulación fluida?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta3s" id="pregunta3s" value="1"
                       {{#if_eq formularioc3s.pregunta3s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta3s" id="pregunta3s" value="2"
                       {{#if_eq formularioc3s.pregunta3s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta3s" id="pregunta3s" value="3"
                       {{#if_eq formularioc3s.pregunta3s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>

            </div>

            <div class = "title-part">
               <strong>¿Existen lugares de acceso restringido?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta4s" id="pregunta4s" value="1"
                       {{#if_eq formularioc3s.pregunta4s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta4s" id="pregunta4s" value="2"
                       {{#if_eq formularioc3s.pregunta4s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta4s" id="pregunta4s" value="3"
                       {{#if_eq formularioc3s.pregunta4s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se cuenta con sistemas de seguridad para impedir el paso a lugares de acceso restringido?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta5s" id="pregunta5s" value="1"
                       {{#if_eq formularioc3s.pregunta5s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta5s" id="pregunta5s" value="2"
                       {{#if_eq formularioc3s.pregunta5s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta5s" id="pregunta5s" value="3"
                       {{#if_eq formularioc3s.pregunta5s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

              <div class = "title-part">
               <strong>¿Se cuenta con sistemas de emergencia como son detectores de humo, alarmas u otro tipo de censores?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta6s" id="pregunta6s" value="1"
                       {{#if_eq formularioc3s.pregunta6s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta6s" id="pregunta6s" value="2"
                       {{#if_eq formularioc3s.pregunta6s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta6s" id="pregunta6s" value="3"
                       {{#if_eq formularioc3s.pregunta6s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

              <div class = "title-part">
               <strong>¿Existen señalizaciones adecuadas en las salidas de emergencia y se tienen establecidas rutas de evacuación?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta7s" id="pregunta7s" value="1"
                       {{#if_eq formularioc3s.pregunta7s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta7s" id="pregunta7s" value="2"
                       {{#if_eq formularioc3s.pregunta7s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta7s" id="pregunta7s" value="3"
                       {{#if_eq formularioc3s.pregunta7s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se tienen medios adecuados para extinción de fuego en el centro de cómputo?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta8s" id="pregunta8s" value="1"
                       {{#if_eq formularioc3s.pregunta8s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta8s" id="pregunta8s" value="2"
                       {{#if_eq formularioc3s.pregunta8s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta8s" id="pregunta8s" value="3"
                       {{#if_eq formularioc3s.pregunta8s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            
            <div class = "title-part">
               <strong>¿Se cuenta con iluminación adecuada y con iluminación de emergencia en casos de contingencia?</strong>
               <div class = "radio">
                    <label >
                       <input type="radio" name="pregunta9s" id="pregunta9s" value="1"
                       {{#if_eq formularioc3s.pregunta9s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta9s" id="pregunta9s" value="2"
                       {{#if_eq formularioc3s.pregunta9s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta9s" id="pregunta9s" value="3"
                       {{#if_eq formularioc3s.pregunta9s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se tienen sistemas de seguridad para evitar que se sustraiga equipo de las instalaciones?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta10s" id="pregunta10s" value="1"
                       {{#if_eq formularioc3s.pregunta10s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta10s" id="pregunta10s" value="2"
                       {{#if_eq formularioc3s.pregunta10s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta10s" id="pregunta10s" value="3"
                       {{#if_eq formularioc3s.pregunta10s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

        <div class = "title-part">
               <strong>¿Se tiene un lugar asignado para papelería y utensilios de trabajo?</strong>
               <div class = "radio">
                    <label >
                       <input type="radio" name="pregunta11s" id="pregunta11s" value="1"
                       {{#if_eq formularioc3s.pregunta11s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta11s" id="pregunta11s" value="2"
                       {{#if_eq formularioc3s.pregunta11s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta11s" id="pregunta11s" value="3"
                       {{#if_eq formularioc3s.pregunta11s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

              <div class = "title-part">
               <strong>¿Son funcionales los muebles isntalados dentro del centro de cómputo: cinco teca, Discoteca, archiveros, mesas de trabajo, etc?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta12s" id="pregunta12s" value="1"
                       {{#if_eq formularioc3s.pregunta12s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta12s" id="pregunta12s" value="2"
                       {{#if_eq formularioc3s.pregunta12s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta12s" id="pregunta12s" value="3"
                       {{#if_eq formularioc3s.pregunta12s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

                  <div class = "title-part">
               <strong>¿Existen prohibiciones para fumar, consumir alimentos y bebidas?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta13s" id="pregunta13s" value="1"
                       {{#if_eq formularioc3s.pregunta13s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta13s" id="pregunta13s" value="2"
                       {{#if_eq formularioc3s.pregunta13s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta13s" id="pregunta13s" value="3"
                       {{#if_eq formularioc3s.pregunta13s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

                <div class = "title-part">
               <strong>¿Se cuenta con suficientes carteles en lugares visibles que recuerdan estas prohibiciones?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta14s" id="pregunta14s" value="1"
                       {{#if_eq formularioc3s.pregunta14s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta14s" id="pregunta14s" value="2"
                       {{#if_eq formularioc3s.pregunta14s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta14s" id="pregunta14s" value="3"
                       {{#if_eq formularioc3s.pregunta14s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

               <div class = "title-part">
               <strong>¿Con cuanta frecuencia se limpian las instalaciones?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta15s" id="pregunta15s" value="1"
                       {{#if_eq formularioc3s.pregunta15s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta15s" id="pregunta15s" value="2"
                       {{#if_eq formularioc3s.pregunta15s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta15s" id="pregunta15s" value="3"
                       {{#if_eq formularioc3s.pregunta15s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            

          <div class = "title-part">
               <strong>¿Con cuanta frecuencia se limpian los ductos de aire y la cámara de aire que existe debajo del piso falso (si existe)?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta16s" id="pregunta16s" value="1"
                       {{#if_eq formularioc3s.pregunta16s "1"}}
                       checked
                       {{/if_eq}}>
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta16s" id="pregunta16s" value="2"
                       {{#if_eq formularioc3s.pregunta16s "2"}}
                       checked
                       {{/if_eq}}>
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta16s" id="pregunta16s" value="3"
                       {{#if_eq formularioc3s.pregunta16s "3"}}
                       checked
                       {{/if_eq}}>
                        No sabe/no responde.
                   </label>
               </div>
            </div>
        <div class = "form-group">
          <label for="inputempresa"><strong>Documentos probatorios:</strong></label>
            <input type="text" class="form-control" name="docs" id="docs" placeholder="Digite su respuesta"  value="{{formularioc3s.docs}}">   
        </div>

    <div class = "form-group">
          <label for="inputempresa"><strong>Total:</strong></label>
          <div class="row jistify-content-center">
              <div class="col-ms-3">
                  <label for="inputempresa"><strong>Conteo del si:</strong></label>
                  <input type="text" class="form-control" name="totalss" id="totalss" placeholder="Digite su respuesta" value="{{formularioc3s.totalss}}">
              </div>
              <div class="col-ms-2"> </div>
              <div class="col-ms-3">
                  <label for="inputempresa"><strong>Conteo del no:</strong></label>
                  <input type="text" class="form-control" name="totalns" id="totalns" placeholder="Digite su respuesta" value="{{formularioc3s.totalns}}">
              </div>
              <div class="col-ms-2"> </div>
              <div class="col-ms-3">
                  <label for="inputempresa"><strong>Conteo del N/S</strong></label>
                  <input type="text" class="form-control" name="totalnss" id="totalnss" placeholder="Digite su respuesta" value="{{formularioc3s.totalnss}}">

              </div>
          </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-ms-10">
                <button type="submit" class="btn btn-lg btn-primary" >Guardar Cambios</button>
                <a href="/tabla3" class="btn btn-default btn-lg">Cancelar</a>
            </div>
        </div>

    </div>
        
            

            
        </form>
    </div>
</body>