<br><br>
    <div class="row justify-content-center" style="background-color: #fafafa !important;">
        <div class="col-md-10">
            <form action="/coperar" method = "POST">
            <input type="hidden" name="_id" value="{{clientes._id}}"/>
                <div class="card border-primary rounded-0" style="border-color: #17a2b8 !important; border-radius:0.25rem !important;">
                    <div class="card-header p-0">
                        <div class="bg-info text-center py-2" style="background-color: rgba(0,0,0,.03) !important;">
                            <h4><i class="fas fa-user-tie"></i> Registro de la empresa</h4>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="row">
                            {{!-- cedula --}}
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label for="cedula"><strong><small style="color : #616161">NIT</small></strong></label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class= "input-group-text">
                                                <i class="fas fa-id-card"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm"  id="nits" name="nits" value="{{clientes.nits}}">
                                    </div>
                                </div>
                            </div>
                            {{!-- Contraseña --}}
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label for="cedula"><strong><small style="color : #616161">Nombre de la empresa</small></strong></label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-industry"></i></span>
                                        </div>
                                        <input type="text" id="nombres" name="nombres" class="form-control form-control-sm" value="{{clientes.nombres}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{!-- nombre --}}
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label for="cedula"><strong><small style="color : #616161">Gerente</small></strong></label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                        </div>
                                        <input type="text" id="gerentes" name="gerentes" class="form-control form-control-sm"value="{{clientes.gerentes}}">
                                    </div>
                                </div>
                            </div>
                            {{!-- apellido --}}
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label for="cedula"><strong><small style="color : #616161">Dirección</small></strong></label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                                        </div>
                                        <input type="text" id="direcciones" name="direcciones" class="form-control form-control-sm"value="{{clientes.direcciones}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{!-- telefono--}}
                            <div class="col-md-12">
                                <div class="form-group mb-2">
                                    <label for="cedula"><strong><small style="color : #616161">Telefono</small></strong></label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        <input type="text" id="telefonos" name="telefonos" class="form-control form-control-sm"value="{{clientes.telefonos}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" name="action" value="Enviar" class=" btn btn-success btn-block" style="background-color:  #17a2b8 !important; border-color:  #17a2b8 !important;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
<br>